# =========================
# Eclipse Workspace
# =========================
.metadata/
.gitignore/

# =========================
# Eclipse Project Files
# =========================
JavaOopsConcepts/.settings/
JavaOopsConcepts/.project
JavaOopsConcepts/.classpath
JavaOopsConcepts/src/com/.classpath
JavaOopsConcepts/src/com/.project

# =========================
# Java Build Output
# =========================
JavaOopsConcepts/bin/
JavaOopsConcepts/src/module-info.java