# =========================
# Eclipse Workspace
# =========================
.metadata/

# =========================
# Eclipse Project Files
# =========================
JavaOopsConcepts/.settings/
JavaOopsConcepts/.project
JavaOopsConcepts/.classpath

# =========================
# Java Build Output
# =========================
JavaOopsConcepts/bin/
JavaOopsConcepts/src/module-info.java